/* !start component */
:root {
  --scend-p: rgb(127, 127, 144);
  --main-color: rgb(206, 18, 18);
  --main-p: rgb(33, 37, 41);
  --btn-hover: rgb(230, 20, 20);
  --selection: rgb(216, 84, 84);
  --bg-white: rgb(255, 255, 255);
  --bg-black: rgb(0, 0, 0);
  --bg-ccc: rgb(238, 238, 238);
  --bg-ccc2: rgb(rgb(204, 204, 204));
}
.dark-mode {
  --scend-p: rgb(159, 159, 159);
  --main-color: rgb(193, 126, 31);
  --main-p: rgb(255, 255, 255);
  --btn-hover: rgb(215, 140, 35);
  --selection: rgb(146, 99, 33);
  --bg-white: rgb(32, 32, 32);
  --bg-black: rgb(255, 255, 255);
  --bg-ccc: rgb(37, 37, 37);
  --bg-ccc2: rgb(13, 13, 13);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  width: 85%;
  margin: auto;
}
body {
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amatic SC", sans-serif;
  font-weight: normal;
  color: rgb(55, 55, 63);
}
p,
span,
a,
input,
textarea,
button,
ul,
li {
  color: inherit;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
i {
  color: inherit;
}
ul li {
  list-style: none;
}
img {
  width: 100%;
  display: block;
}
.the-header {
  margin: auto;
  text-align: center;
}
.the-header p {
  font-size: 14px;
  color: var(--scend-p);
}
.the-header h2 {
  font-size: 50px;
  font-weight: 400;
  color: var(--main-p);
}
.the-header h2 span {
  color: var(--main-color);
  font-size: inherit;
  font-family: inherit;
}
.active {
  color: var(--main-p);
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
  border-left: 2px solid #eee;
  box-shadow: 0px 0px 21px 0px #0003 inset;
}
::-webkit-scrollbar-thumb {
  background-color: #000000dc;
  box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
  border-radius: 100vh;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}
::selection {
  background-color: var(--selection);
  color: #fff;
}

/* !===========end component */
/* !===========start navbar */

.navbar {
  position: fixed;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-white);
}
.navbar .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
}
.navbar .nav .logo h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--main-p);
  cursor: pointer;
  font-family: "Inter", sans-serif;
  position: relative;
}
.navbar .nav .logo h1::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 60%;
  border-radius: 50%;
  background-color: var(--main-color);
}
.navbar .nav ul {
  display: flex;
  align-items: center;
}
.navbar .nav ul li {
  margin-right: 25px;
  padding-bottom: 5px;
  position: relative;
  overflow: hidden;
}
.navbar .nav ul li a {
  font-size: 17px;
  color: var(--scend-p);
  transition: 0.5s;
}
.navbar .nav ul li:hover a,
.navbar .nav ul li .active {
  color: var(--main-p);
}

.navbar .nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  right: 100%;
  background-color: var(--main-color);
  transition: 0.5s;
}
.navbar .nav ul li:hover::after {
  right: 0;
}
.navbar .nav .moon {
  display: flex;
}

@media (max-width: 1199px) {
  .navbar .nav .checkbtn {
    display: block;
  }
  .navbar .nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    height: 100vh;
    width: 30%;
    background-color: #fff;
    border-left: 1px solid #ccccccef;
    right: 0;
    top: 0px;
    transition: 0.5s;
    transform: translate(100%);
  }
  .navbar .nav ul i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: var(--scend-p);
    padding-bottom: 50px;
  }
  .navbar .nav ul i:hover {
    color: black;
  }
  .navbar .nav ul li:hover a,
  .navbar .nav ul li .active {
    color: black;
  }
  #check:checked ~ #nav {
    transform: translate(0);
  }
  #x:checked ~ #nav {
    transform: translate(100%);
  }
  .navbar .nav ul li {
    padding: 10px;
    position: relative;
    overflow: hidden;
    color: var(--scend-p);
  }
  .navbar .nav ul li:hover {
    color: black;
  }

  .navbar .nav ul li:first-of-type {
    padding-top: 70px;
  }
  .navbar .nav ul li:hover::after {
    right: 100%;
  }
}
@media (min-width: 1200px) {
  .navbar .nav ul li .active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: var(--main-color);
    transition: 0.5s;
  }
  .navbar .nav ul .x {
    display: none;
  }
  .navbar .nav .checkbtn {
    display: none;
  }
  .navbar .nav ul {
    display: flex;
  }
}
.navbar .nav .moon i {
  font-size: 25px;
  color: var(--bg-black);
}
.show {
  display: none;
}
.navbar .nav .moon #themeToggle {
  transition: 0.3s;
  border: none;
  cursor: pointer;
  background-color: var(--bg-white);
}
.navbar #check,
.navbar #x {
  display: none;
}
.navbar label i {
  margin-left: 14px;
  cursor: pointer;
}
/* !======= end navbar======= */
/* ?======= start home ======*/

.home {
  background-color: var(--bg-ccc);
  min-height: 100vh;
}
.home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.home .info h2 {
  font-size: 65px;
  font-weight: 700;
  color: var(--main-p);
}
.home .info p {
  font-size: 16px;
  margin: 30px 0;
  color: var(--scend-p);
}
.home .info .main {
  font-size: 15px;
  color: var(--bg-white);
  padding: 10px 20px;
  background-color: var(--main-color);
  border-radius: 0px 35px 35px 40px;
  transition: 0.3s;
  margin-right: 50px;
}
.home .info .main:hover {
  background-color: var(--btn-hover);
}

.home .info .btn {
  display: flex;
  align-items: center;
  color: var(--bg-black);
}
.home .info .btn .video {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  /* color: var(--bg-black); */
}
.home .info .btn .video:hover,
.home .info .btn .video:hover i {
  color: var(--main-color);
}
.home .info .btn .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 5px;
  background-image: linear-gradient(
    to right,
    var(--main-color) 0% 50%,
    transparent 50% 100%
  );
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.home .info .btn i {
  padding: 12px;
  background-color: var(--bg-white);
  border-radius: 50%;
  color: var(--bg-black);
}
@media (max-width: 991px) {
  .home .img,
  .home .info {
    width: 100%;
    text-align: center;
  }
  .home .info {
    order: 2;
    padding-bottom: 40px;
  }
  .home .info h2 {
    width: 50%;
    margin: auto;
  }
  .home .img {
    order: 1;
    margin: 70px 0;
  }
  .home .info .btn {
    text-align: center;
    margin: auto;
    width: fit-content;
  }
  .home .info .main {
    margin-right: 30px;
    border-radius: 80px;
  }
}

@media (max-width: 576px) {
  .home .info h2 {
    width: 90%;
    margin: auto;
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .home .img {
    width: 45%;
  }
  .home .info {
    width: 45%;
  }
  .home .container {
    padding-top: 100px;
  }
}
@media (min-width: 1200px) {
  .home .info .main {
    margin-right: 30px;
  }
  .home .info {
    width: 40%;
  }
  .home .img {
    width: 40%;
  }
  .home .info h2 {
    width: 80%;
  }
}
.home .img img {
  width: 100%;
  margin-top: 50px;
  filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.6));
}
.home .img img:hover {
  animation: move 1s infinite;
}
@keyframes move {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* ? ==== end home ====*/
/* *@param myParam ===== start chefs =====*/

.chefs {
  background-color: var(--bg-white);
  padding: 80px 0;
}
.chefs .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
}
.chefs .boxes .box {
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media (max-width: 576px) {
  .chefs .boxes .box {
    width: 100%;
    margin: 0 auto 60px;
  }
}
@media (min-width: 577px) {
  .chefs .boxes .box {
    width: 90%;
    margin: 0 auto 60px;
  }
}
@media (min-width: 768px) {
  .chefs .boxes .box {
    width: 48%;
    margin: 0 0 60px;
  }
}
@media (min-width: 992px) {
  .chefs .boxes .box {
    width: 31%;
    margin: 0;
  }
}
.chefs .boxes .box:hover {
  transform: scale(1.05);
}
.chefs .boxes .box .img {
  width: 100%;
  position: relative;
}
.chefs .boxes .box .img img {
  width: 100%;
}
.chefs .boxes .box .img .social {
  position: absolute;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  right: -100%;
  top: 20px;
  border-radius: 10px;
  background-color: #ffffff4d;
  transition: 0.6s 0.1s;
}
.chefs .boxes .box:hover .img .social {
  right: 10px;
}
.chefs .boxes .box .img .social i {
  padding: 15px;
  color: rgba(55, 55, 63, 0.4);
  transition: 0.5s;
  font-size: 18px;
}
.chefs .boxes .box .img .social i:hover {
  color: rgb(55, 55, 63);
}

.chefs .boxes .box .img::before {
  content: "";
  position: absolute;
  background-image: url(../image/team-shape.svg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 60px;
  left: 0;
  bottom: -1px;
}
.chefs .boxes .box .info {
  padding: 10px;
}
.chefs .boxes .box .info h3 {
  font-size: 19px;
  font-weight: 700;
  color: var(--main-p);
  font-family: "Inter", sans-serif;
  margin: 20px 0 7px;
}
.chefs .boxes .box .info span {
  font-size: 14px;
  color: var(--scend-p);
}
.chefs .boxes .box .info p {
  font-size: 14px;
  color: var(--scend-p);
  margin: 7px 0 15px;
}

/* *@param myParam ====== end chefs ====*/
/* todo ====== start gallery ====*/

.gallery {
  background-color: var(--bg-ccc);
  padding: 80px 0 80px;
}
.gallery .boxes {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 50px;
}
.gallery .boxes .img {
  overflow: hidden;
  border: 4px solid white;
  position: relative;
}
@media (max-width: 767px) {
  .gallery .boxes .img {
    width: 100%;
  }
  .gallery .boxes {
    height: auto;
  }
}
@media (min-width: 768px) {
  .gallery .boxes .img {
    width: 49%;
  }
  .gallery .boxes {
    height: 1805px;
  }
}
@media (min-width: 1200px) {
  .gallery .boxes .img {
    width: 32%;
  }
  .gallery .boxes {
    height: 1000px;
  }
}
.gallery .boxes .img img {
  width: 100%;
  transition: 0.3s;
}
.gallery .boxes .img .info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  z-index: 7;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  text-align: center;
}
.gallery .boxes .img:hover img {
  transform: scale(1.1);
}
.gallery .boxes .img:hover .info {
  top: 0;
}
.gallery .boxes .img .info p {
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.gallery .boxes .img .info span {
  color: rgb(221, 221, 221);
  font-size: 16px;
}
.gallery .boxes .img .info .center {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}
/* todo ===== end gallery =====*/
/* !========= start contact =======*/
.contact {
  background-color: var(--bg-white);
  padding: 70px 0;
}
.contact .img {
  width: 100%;
  margin-top: 25px;
}
.contact .img iframe {
  width: 100%;
}
.contact .boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  flex-wrap: wrap;
}
.contact .boxes .box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-ccc2);
  padding: 20px;
}
.contact .boxes .box i {
  padding: 15px;
  background-color: var(--main-color);
  border-radius: 50%;
  font-size: 18px;
  color: var(--bg-white);
}
.contact .boxes .box .text {
  margin-left: 20px;
}
.contact .boxes .box .text p {
  color: rgb(125, 125, 125);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
.contact .boxes .box .text span {
  color: var(--main-p);
}
.contact .input form {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.contact input[type="text"],
.contact input[type="email"] {
  height: 60px;
  padding: 0 0 0 10px;
  border: 2px solid rgb(232, 227, 227);
  font-size: 13px;
  line-height: 20px;
  margin: 20px 0;
}
@media (max-width: 991px) {
  .contact input[type="text"],
  .contact input[type="email"] {
    width: 100%;
  }
  .contact .boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .contact input[type="text"],
  .contact input[type="email"] {
    width: 49%;
  }
  .contact input[type="email"] {
    margin-left: 15px;
  }
  .contact .boxes .box {
    width: 49%;
    margin-top: 15px;
  }
}

.contact .input input[name="Subject"] {
  margin: 20px 0;
  width: 100%;
}
input {
  transition: 0.2s;
}
.contact .input textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #e1e1e1;
  padding: 15px 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  transition: 0.2s;
  resize: none;
}
.contact .input button {
  color: var(--bg-white);
  font-size: 15px;
  line-height: 38px;
  background-color: var(--main-color);
  padding: 5px 40px;
  border-radius: 80px;
  margin-top: 20px;
  border: none;
  transition: 0.3s;
  margin: 30px auto;
}
.contact .input button:hover {
  background-color: var(--btn-hover);
}
.contact input:focus,
.contact .input textarea:focus {
  outline: none;
  border: 2px solid var(--btn-hover);
}

/* !======== end contact ========== */
/* ?====== start footer  ======== */
.footer {
  background-color: rgb(7, 6, 6);
  padding: 50px 0;
  color: white;
}
.footer .boxes {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
.footer .boxes .left .top {
  display: flex;
  align-items: center;
}
.footer .boxes .left .top img {
  width: 40px;
  margin-right: 10px;
  display: inline-block;
}
.footer .boxes .left .top span {
  position: relative;
  font-size: 30px;
  font-weight: 700;
}
.footer .boxes .left .top span::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 60%;
  border-radius: 50%;
  background-color: var(--main-color);
}
.footer .boxes .left .bottom p {
  margin: 20px 0;
}
.footer .boxes .left .bottom span {
  text-align: center;
  font-weight: 700;
  font-size: 19px;
  display: block;
  border-bottom: 2px solid #ddd6;
  padding-bottom: 10px;
}

.footer .boxes .left .bottom .social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0 25px;
}
.footer .boxes .left .bottom .social i {
  font-size: 24px;
}
.footer .boxes .center {
  padding: 0 15px;
}
.footer .boxes .center span {
  font-size: 19px;
  font-weight: 700;
}
.footer .boxes .center p {
  margin: 15px 0;
}
.footer .boxes .center .subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer .boxes .center input {
  height: 40px;
  outline: 0;
}
.footer .boxes .center button {
  height: 40px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: var(--bg-white);
  background-color: var(--main-color);
}
.footer .boxes .center button:hover {
  background-color: var(--btn-hover);
}
.footer .boxes .center .subscribe i {
  color: var(--bg-white);
  margin-right: 5px;
}
.footer .boxes .center .bottom p {
  font-weight: 700;
  font-size: 19px;
}
.footer .boxes .center .bottom ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .boxes .center .bottom li {
  width: 48%;
  margin-bottom: 10px;
  transition: 0.5s;
  padding: 3px 0;
}
.footer .boxes .center .bottom li:hover {
  background-color: #222222;
  transform: translate(10px);
}

.footer .boxes .center .bottom li i {
  margin-right: 5px;
}
.footer .boxes .right {
  padding-left: 10px;
}
.footer .boxes .right p {
  margin: 10px 0;
}
.footer .boxes .right li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}
.footer .boxes .right li i {
  font-size: 22px;
  color: var(--main-color);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer .boxes .left {
    order: 1;
  }
  .footer .boxes .center {
    order: 3;
  }
  .footer .boxes .right {
    order: 2;
  }
}
@media (max-width: 576px) {
  .footer .boxes .center input {
    width: 100%;
    margin-bottom: 14px;
  }
  .footer .boxes .center button {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .footer .boxes .center input {
    width: 75%;
  }
  .footer .boxes .center button {
    width: 22%;
  }
}

/* ?====== end footer ======== */
